
.common {
  $w: 375px;

  position: fixed;
  /*right: -$w;*/
  display: flex;
  flex-direction: column;
  z-index: 9999;
  background: white;
  height: 100vh;
  width: $w;
  transition: opacity 0.5s linear;
}

.visible {
  composes: common;
  visibility: visible;
  opacity: 1;
}

.hidden {
  composes: common;
  transition: all 0.5s linear;
  opacity: 0;
  visibility: hidden;
}
/*.fill {
  z-index: -1;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: color(grey a(80%));
}*/